.welcome {
    background-image: url(../IP3-master/assets/backgrounds/h_img.jpg);
    text-align: center;
    margin: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-bottom: 200px;
    margin-right: 20px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 300px;      
}
.w-h1 {
    color: white;
    padding-top: 5px;
    
}
.w-p {
    color: white;
}

#logo {
    padding-bottom: 8px;
}
.logo2 {
    padding-top: 10px;
}

